.loginForm {
  margin: 15px auto auto;
  max-width: 330px;
  padding: 15px;
  background-color: #c2dcf1;
  min-height: 50vh;
  font-weight: 400;
}

.auth-box {
  max-width: 360px;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: -2px 1px 5px 2px rgba(0, 0, 0, 0.39);
}

.button-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  margin-bottom: 20px;
}

.no-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.no-account-text {
  margin-top: 8px;
}

.form-control:focus {
  border-color: #3f3434;
  box-shadow: none;
}

.col-10 {
  text-align: center;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: red;
  margin: 0;
}
