.root {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}
.super-root {
    background-color: saddlebrown;
}

.line {
    border-bottom: 1px solid white;
    width: 100%;

}
