.line-container {
  display: flex;
  background-color: #03074a;
}
.col-6 {
  width: 40%;
  font-size: 25px;
  color: white;
}
.col-sm-4 {
  color: black;
}
.col-1 {
  padding: 10px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.col {
  border-right: 1px solid white;
  width: 20%;
  font-size: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}
